<!DOCTYPE html>
<html>
<head>
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido a RevalorizaPlus</h1>

    {% if user.is_authenticated %}
        <p>Usuario: {{ usuario.nombre }} {{ usuario.apellido }}</p>
        <p>Tus puntos totales: {{ total_puntos }}</p>

        {% if es_admin %}
            <h2>Opciones Administrativas</h2>
            <ul>
                <li><a href="{% url 'buscar_usuario' %}">Buscar Usuarios</a></li>
                <!-- Puedes añadir más opciones administrativas aquí -->
            </ul>
        {% endif %}

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    {% else %}
        <p>Regístrate o inicia sesión para empezar.</p>
        <a href="{% url 'login' %}">Iniciar sesión</a>
        <a> </a>
        <a href="{% url 'registro' %}">Registrarse</a>
    {% endif %}
</body>
</html>